.draggable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  word-wrap:break-all;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.none-asset {
  display: none;
  width: 800px;
  height: 400px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.palet {
  height: 900px;
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
